li {
  list-style: none;
}
ul {
  padding: 0;
}
#root {
  padding: 0px 100px;
  position: relative;
}
li.TodoItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
}
.EditTodo,
.Todo {
  width: 100%;
}
textarea {
  width: 100%;
}
.btn-area {
  float: right;
  flex-shrink: 0;
  margin-left: 10px;
  min-width: 80px;
}
.EditTodo form {
  display: flex;
  justify-content: space-between;
}
.Todo {
  display: flex;
  justify-content: space-between;
}
.TodoItem .check-area {
  margin-right: 10px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.Todo p {
  min-width: 60%;
  margin: 0;
}

.CreateTodo {
  padding-top: 50px;
  width: 100%;
}
.CreateTodo form {
  display: flex;
  width: 100%;
}
.feedback-message {
  font-size: small;
  color: red;
}
